
body, td, th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	min-height: 25px;
	padding: 3px;
	background: url(#{resource['imagens:fundo_claro.png']}); 
}

img {
	border:0px;
}

#container {
	width: 800px;
	height: 100%;
	margin: 0 auto
}
	
#titulo {
	float: left;
	font-size: 25pt;
	font-variant: small-caps;
	font-weight: bold;
}

#tituloPagina {
	font-size: 15pt;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}

#logotipo {
		text-align: center; 
}

#barra_menu {
	min-height: 25px;
	padding: 3px;
	
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;
}

#rodape {
	height: 100px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
	background: url(#{resource['imagens:fundo_barra_rodape.png']}) repeat-x;
}

.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal, .error {
	font-weight: bold;
	color: red;
}

.ui-panelgrid {  
   border: none !important;"   
} 

.semBorda tr, .semBorda td {  
    border: none !important;  
    background-color: #FAFFFF;
}

.tituloPagina {
	font-size: 15pt;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}

.tamanhoText {
	width: 250px;
}

.tamanhoFieldBusca .ui-column-filter {
	width: 50px; 
}