<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GestorAmbiente</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  <!-- Informando que existe um DataSource JNDI 
	     Especificado no arquivo context.xml       
	<resource-ref>
		<description>DataSource AmbienteBD</description>
		<res-ref-name>jdbc/AmbienteDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	 -->
	 
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  
  <!-- configuração da classe Filter 
       em filter-mapping/url-pattern significa que todas as requisições com *.jsf serão interceptadas pelo Filter -->
  <filter>
	<filter-name>conexaoFilter</filter-name>
	<filter-class>br.com.gestor.web.filter.ConexaoHibernateFilter</filter-class>
  </filter>
  <filter-mapping>
		<filter-name>conexaoFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
  </filter-mapping>
  
  <context-param>
      <param-name>com.sun.faces.expressionFactory</param-name>
      <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
  </context-param>
  
  <!-- final da configuração do Filter -->
  
  
  <!-- theme do primefaces -->
  <context-param>  
    <param-name>primefaces.THEME</param-name>  
    <param-value>glass-x</param-value>  
  </context-param>
  
  <!--  
  <context-param>
  	<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  	<param-value>client</param-value>
  </context-param>
  -->
  
  <servlet>
  <servlet-name>asd</servlet-name>
  <servlet-class>br.com.gestor.web.util.ServletInformaProfessor</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
</web-app>